header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 20px 40px 10px 40px;
    border-bottom: 1px solid #808080;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    height: 60px;
    width: 60px;
}

#api_status {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
}

.available {
    background-color: #ff545f;
}